body {
  color: #141823;
  margin: 0;
  text-align: center; }

.game__title {
  font-size: 2rem;
  padding: 0.5rem; }

.game__status {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.6rem;
  margin-bottom: 1.5rem; }

.game__config {
  margin-top: 5%; }

.field {
  display: inline-block; }
  .field_disabled .cell {
    filter: grayscale(100%); }
  .field__row {
    display: flex; }
  .field__status {
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5%; }

.cell {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #57b1ff; }

.cell_hidden {
  background: #d4e5f3; }
  .cell_hidden:hover {
    background: #bde0ff; }

.cell_mine {
  background-image: url("images/mine.png");
  background-size: cover; }

.cell_flag {
  background-image: url("images/flag.png");
  background-size: cover; }

.panel {
  margin-top: 3rem; }
  .panel label {
    margin-right: 1rem; }
  .panel__error {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.5rem;
    margin-top: 1rem; }

