.selected-row td {
  color: white;
  background-color: black; }

.undo-redo {
  display: inline-block; }
  .undo-redo__wrapper {
    padding-left: 2rem;
    padding-right: 2rem; }
  .undo-redo__button {
    display: inline-block;
    margin-right: 0.5rem; }

html,
body {
  background: white;
  font-size: 16px;
  color: #141823;
  margin: 0;
  padding: 0; }

.page-content {
  padding: 2%; }

